body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #FAEED1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

header {
    background-color: #DED0B6;
    border-radius: 20px;
    margin: 4px 0;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.cos {
    flex:8;
    background-color: #DED0B6;
    border-radius: 20px;
    margin: 2px;
    box-sizing: border-box;
    padding: 5px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.srodek {
    flex:2;
    background-color: #DED0B6;
    border-radius: 20px;
    margin: 2px;
    box-sizing: border-box;
    padding: 5px;
    text-align: center;
}
.collapsible {
    background-color: #BBAB8C;
    color: #444;
    cursor: pointer;
    padding: 18px; 
    width: 100%;
    border: none;
    text-align: left; 
    outline: none;
    font-size: 15px;
    border-radius:20px;
    margin:2px;
}

.active, .collapsible:hover {
    background-color: #d3b2a8d2;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.collapsible.active + .content {
    max-height: 1000px; /* Adjust to a sufficiently large value to accommodate your content */
}
button.stary{
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}
button.stary:before{
    content: '';
    background:linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400% 400%;
    z-index: 2; 
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}


button.stary:active {
    color: #000;

}

button.stary:active:after {
    background:transparent;
}

button.stary:hover:before {
    opacity: 1;
}

button.stary:after {
    z-index: -1;
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111; 
    left: 0;
    top: 0;
    border-radius: 10px;
}


@keyframes glowing {
    0% { background-position: 0 0;}
    50% { background-position: 400% 0;}
    100% { background-position: 0 0; }
}